@use 'variables';

*, *:after, *:before {
	box-sizing: border-box;
}
body {
	font-family: variables.$font-stack;
	max-width: 1440px;
	margin: 0 auto;
 }
::placeholder {
	font-size: 16px;
	font-family: variables.$font-stack;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
h2 {
	font-family: variables.$font-stack;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
}
h3 {
	font-family: variables.$font-stack;
	font-size: 24px;
	line-height: 36px;
	font-weight: normal;
}
h4 {
	font-size: 16px;
	font-family: variables.$font-stack;
}
h5 {
	font-size: 14px;
	font-family: variables.$font-stack;
	line-height: 20px;
}
p {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}
th {
	font-size: 16px;
	font-family: variables.$font-stack;
}
td {
	font-size: 14px;
	font-family: Arial,sans-serif;
}
input {
	font-size: 16px;
}
textarea {
	font-size: 16px;
}
.green-button {
	display: block;
	background-color: variables.$primary-color;
	text-align: center;
	text-transform: uppercase;
	user-select: none;
	cursor: pointer;
	color: white;
	font-size: 20px;
	font-family: variables.$font-stack;
	&:hover {
		background-color: #5eaa2f;
	}
	&:active span {
		opacity: 0.3;
	}
}
.grey-button {
	background-color: variables.$secondary-color;
	color: #444444;
	text-transform: uppercase;
	display: block;
	padding: 8px 0;
	&:hover {
		background-color: #ebebeb;
	}
}
.logo {
	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.6;
	}
}
.main-nav__item {
	:hover {
		opacity: 0.6;
	}
	:active {
		opacity: 0.3;
	}
}
.main-nav a {
	&:hover {
		opacity: 0.6;
	}
	&:active {
		opacity: 0.3;
	}
}
.link-button {
	text-transform: uppercase;
	color:black;
	width: fit-content;
	&:hover svg {
		transform: scaleX(1.375);
	}
	&:active {
		opacity: 0.3;
	}
}
.social__icon a {
	&:active svg {
		opacity: 0.3;
	}
	&:hover svg {
		color: variables.$primary-color;
	}
}
.radio, .checkbox {
	user-select: none;
	label {
		cursor: pointer;
	}
}
.checkbox input[type="checkbox"], .radio input[type="radio"], .toggle input[type="checkbox"]{
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
input[type="text"], input[type="tel"], input[type="email"], .comment textarea {
	&:hover {
		border-color: #cdcdcd;
	}
	&:focus-visible {
		border: 2px solid #444444;
		outline: none;
	}
}
input[type="tel"], input[type="email"] {
	&:focus-visible + span {
		color: variables.$primary-color;
	}
}
//region custom radio button
.checkbox label input[type=checkbox] + span:hover{
	border: 1px solid #bababa;
}
.radio label input[type="radio"]:checked + span::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale(0.375);
	border-radius: 50%;
	background-color: #499e1e;
	left: 0;
	top: 0;
}
.radio label input[type="radio"] + span {
	display: inline-block;
	position: relative;
	user-select: none;
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 50%;
	margin-right: 15px;
	box-sizing: border-box;
}
//endregion
//region custom checkbox
.checkbox label input[type="checkbox"]:checked + span::before,
.checkbox label input[type="checkbox"]:checked + span::after {
	content: "";
	position: absolute;
	top: 15px;
	left: 10px;
	width: 16px;
	height: 2px;
	background-color: variables.$primary-color;
}
.checkbox label input[type="checkbox"]:checked + span::before {
	width: 8px;
	left: 6px;
	top: 17px;
}
.checkbox label input[type="checkbox"] + span {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	background-color: #ffffff;
	position: relative;
	margin-right: 14px;
	user-select:none;
}
.checkbox input[type="checkbox"]:checked + span {
	border-color: #bababa;
}
.checkbox input[type="checkbox"]:checked + span::before {
	transform: rotate(45deg);
}
.checkbox input[type="checkbox"]:checked + span::after {
	transform: rotate(-45deg);
}
.checkbox:active, .radio:active {
	opacity: 0.3;
}
//endregion
@media (max-width: variables.$mobile-width) {
	.toggle span {
		margin-top: -4px;
	}
	input.toggle[type=range]::-webkit-slider-runnable-track {
		height: 14px;
		border: 1px solid gray;
		border-radius: 99em;
		padding-right: 12px;
		background-color: white;
	}
	input.toggle[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		height: 6px;
		width: 35px;
		border-radius: 99em;
		background: #68b738;
		margin-top: 3px;
		margin-left: 6px;
	}
}
input.toggle {
	appearance: none;
	position: absolute;
	width: 415px;
	max-width: 428px;
	cursor: pointer;
	background-color: inherit;
}
.toggle span:hover {
	border-bottom: 2px solid #bebebe;
}
//endregion
.v-hidden {
	visibility: hidden;
	font-size: 0;
}
.hidden {
	display: none !important;
}
@media (min-width: variables.$tablet-width) {
	h2 {
		font-size: 60px;
		line-height: 60px;
	}
	h3 {
		font-size: 36px;
	}
	h5 {
		font-size: 20px;
		line-height: 20px;
	}
	p {
		font-size: 16px;
		line-height: 24px;
	}
	td {
		font-size: 16px;
	}
	::placeholder {
		font-size: 20px;
	}
	label {
		font-size: 20px;
	}
	input {
		font-size: 20px;
	}
	textarea {
		font-size: 20px;
	}
	.radio label input[type="radio"] + span {
		width: 40px;
		height: 40px;
	}
	.radio label input[type=radio]:checked + span::after {
		transform: scale(0.475);
	}
	.checkbox label input[type=checkbox] + span {
		width: 40px;
		height: 40px;
	}
	.checkbox label input[type=checkbox]:checked + span::before {
		width: 12px;
		left: 7px;
		top: 22px;
	}
	.checkbox label input[type=checkbox]:checked + span::after {
		top: 19px;
		left: 13px;
		width: 21px;
	}
	.toggle span {
		border-bottom: 2px dotted #bebebe;
		margin-top: -8px;
	}
	input.toggle[type=range]::-webkit-slider-runnable-track {
		height: 6px;
		background: #dcdcdc;
		border: none;
		border-radius: 3px;
	}
	input.toggle[type=range]::-webkit-slider-thumb {
		appearance: none;
		box-shadow: 0 1px 3px 1px #cdcdcd;
		border: 2px solid #cdcdcd;
		height: 34px;
		width: 34px;
		border-radius: 50%;
		background: radial-gradient(closest-corner at 50%, #68b738 15%, white 20%);
		margin-top: -14px;
		margin-left: -2px;
		&:hover {
			border: 2px solid variables.$primary-color;
		}
	}
}
@media (min-width: variables.$desktop-width) {
	th {
		font-size: 20px;
	}
}
/*header*/
@import "header";
/*main*/
@import "main";
/*main-catalog*/
@import "main-catalog";
/*form*/
@import "form";
/*footer*/
@import "footer";
/*footer-catalog*/
@import "footer-catalog";
